<!-- <h1>Owl App</h1>

<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide [id]="slides.id">
    <img [src]="slides.img" alt="">
  </ng-template>
</owl-carousel-o>
<div>Some tags after</div> -->

<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slides">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.img">
      <!-- <img [src]="slide.img" [alt]="slide.alt" [title]="slide.title"> -->
    </ng-template>
  </ng-container>

</owl-carousel-o>
<div>Some tags after</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr />

<pre>{{ closeResult }}</pre>